$green-color: #398378;
$text-color: #898a8f;
$white-bg: #ffffff;
$input-color: #535457;
$tranquil-green: #dfebe9;
$box-color: #f1f1f1;
$black: #000000;
$gulf-stream: #80B0A9;
$mako: #43464C;
$bouquet: #B195AF;
$tradewind: #6FB8AC;
$powder-ash: #B6CCC0;
$cadet-blue: #A2ACBD;
$cascade: #96B1AB;